<div id="blog_entry_container">
  <div id="blog_entry_entry">

    <h1><%= @blog_entry.title %></h1>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5290cdb15249d098"></script>
    <div class="addthis_native_toolbox"></div>

    <div class="blog_entry_body">
      <%== @blog_entry.body %>
    </div>

    <%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => @blog_entry} %>
  </div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'wemontage';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/blog_entries/sidebar_show' %>
<% end %>

<% content_for :head do %>
  <% if !@blog_entry.author.blank? and !@blog_entry.author.google_plus_url.blank? %>
    <link rel="author" href="<%= @blog_entry.author.google_plus_url %>"/>
  <% end %>
<% end %>
